@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root{
    --bg-color: #10101a;
    --main-color: #2fbf71;
    --2n-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);

}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background: var(--bg-color);
    padding: 24px 14%;
    transition: 0.3s;
}

.logo{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 800;
}
span{
    color: var(--main-color);
}

.navbar{
    display: flex;

}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    background: var(--main-color);
    transition: 0.3s;
}

#menu-icon{
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 120px 14%;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}
.home-text h5{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--text-color);
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
}
.home-text h6{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}
.home-text p{
    max-width: 470px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: var(--2n-main-color);
}
.btn{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}
.btn:hover{
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);

}
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center ;
}
.about-img img{
    max-width: 100%;
    width: 580px;
    height: auto;
}
.about-text h3{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0 0 30px;

}
.about-text h2{
    margin-bottom: 0.5rem;
    font-size: var(--h2-font);
    font-weight: 500;
    line-height: 1.2;
    max-width: 470px;
    margin-bottom: 2rem;

}
.about-text p{
    max-width: 570px;
    font-size: var(--p-font);
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
    color: var(--2n-main-color);

}
.count{
    margin-bottom: 2rem;
}
.about-text .count a{
    color: var(--2n-main-color);
    margin-right: 20px;
    word-spacing: 5px;
}
.count span{
    color: var(--text-color);
    font-size: 2.7rem;
    font-weight: 600;
}
.main-btn .btn{
    margin-right: 20px;

}
.center{
    text-align: center;
}
.center h3{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(6,100px);
    gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;  
}